<h2>MY FIRST CALCULATOR</h2>
<form method="post" action = "/Calculate">
<input type="number" name="left" value="0" required>
<input type="number" name="right" value="0" required>
<button name="mathOperations" value="Add">+</button>
<button name="mathOperations" value="Subtract">-</button>
<button name="mathOperations" value="Multiply">*</button>
<button name="mathOperations" value="Divide">/</button>
<button name="mathOperations" value="Modulus">%</button>
<button name="mathOperations" value="Exponent">^</button>
</form>